/* locates search input box on the page */
.form-inline {
  margin-right: 345px;
  margin-top: 40px;
}

/* styles the input box (height, width and border radius */
.form-control {
  width: 800px;
  height: 45px;
  border-radius: 10px;
  border: none;
}

/* styles the search button  */
.btn {
  background-color: rgb(112, 55, 245); 
  border-radius: 10px;
  height: 47px;
  color: white;
  font-size: 25px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border: none;
  margin-left: 1000px;
  margin-top: -100px;
}

/* stles the placehold text color and font-size */
::placeholder {
  color:rgb(112, 55, 245);
  font-size: 20px;
  padding-left: 10px;
}

